page-quotes {
    .toolbar-title {
        text-transform: capitalize;
    }

    .col {
        text-align: right;
    }

    .button {
        font-size: 0.8em;
    }

    .author {
        color: #aaa;
        text-align: right;
        // text-transform: uppercase;
        margin: 10px 0 0;
        padding: 0;

        &::before {
            content: '- ';
        }
    }
}
